
th,td{
    color: crimson;
    border: 2px solid yellow;

}
.hello{
    color: red;
    border: 2px solid black;
    background-color: yellow;
    width: 50%;
    margin-left: 50px;
    padding-left: 20%;
    /* float: right; */
}
#heading3{
    color: green;
}